<div class="shell">
  <div class="sidebar">
    <div class="sidebar-logo">
        <span class="logo-title">SmartParking</span>
        <small class="logo-sub">Admin panel</small>
    </div>

    <div class="nav-item active" (click)="show('overview')">▦ Overview</div>
    <div class="nav-item" (click)="show('parkings')">P Parkings</div>
    <div class="nav-item" (click)="show('zones')">◈ Zones</div>
    <div class="nav-item" (click)="show('spots')">◻ Spots</div>
    <div class="nav-item" (click)="show('users')">⊙ Users</div>
  </div>

  <div class="main">
    <div class="topbar">
      <h2>{{ pageTitle }}</h2>
      <span class="badge">Admin</span>
    </div>

    <div class="content">

      <!-- OVERVIEW -->
      <div *ngIf="section==='overview'">
        <div class="stats-row">
          <div class="stat"><div class="stat-label">Parkings</div><div class="stat-val">{{counts.p}}</div></div>
          <div class="stat"><div class="stat-label">Zones</div><div class="stat-val">{{counts.z}}</div></div>
          <div class="stat"><div class="stat-label">Spots</div><div class="stat-val">{{counts.s}}</div></div>
          <div class="stat"><div class="stat-label">Users</div><div class="stat-val">{{counts.u}}</div></div>
        </div>
      </div>

      <!-- PARKINGS -->
      <div *ngIf="section==='parkings'">
        <button class="btn btn-primary" (click)="openModal('parking')">+ Add parking</button>

        <table>
          <tr *ngFor="let p of parkings">
            <td>{{p.name}}</td>
            <td>{{p.address}}</td>
            <td>{{p.isActive ? 'Active' : 'Inactive'}}</td>
            <td>{{p.zones?.length}}</td>
            <td>
              <button (click)="editParking(p)">Edit</button>
              <button (click)="deleteParking(p.id)">Delete</button>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>
 <!-- PUSH LOGOUT DOWN -->
  <div class="topbar">
  <h2>{{ pageTitle }}</h2>

  <div class="topbar-right">
    <span class="badge">Admin</span>
    <button class="btn-logout" (click)="logout()">Logout</button>
  </div>
</div>

</div>